@import "tailwindcss";

@theme {
  --animate-fade-up: fade-up 0.5s ease-out forwards;
  --breakpoint-ssm: 25rem;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
